<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Tic-tac-toe</title>
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-6 offset-3">

                <div class="alert alert-danger d-none" role="alert" id="error-message">
                    Le nombre maximum de joueurs à été atteint
                </div>

                <div class="card mb-3" id="user-card">
                    <div class="card-body">

                        <form method="POST" id="form">
                            <div class="mb-3">
                                <label for="username" class="form-label">Nom d'utilisateur</label>
                                <input type="text" class="form-control" id="username"
                                    placeholder="Saisir votre nom d'utilisateur">
                            </div>
                            <button type="submit" class="btn btn-primary">Jouer</button>
                        </form>

                    </div>
                </div>

                <div class="d-none" id="waiting-area">
                    <div class="card">
                        <div class="card-header">En attente d'un autre joueur</div>
                        <div class="card-body mx-auto">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body mx-auto">
                            Partage ce lien pour inviter un autre joueur à jouer avec toi : <span id="link-to-share"></span>
                        </div>
                    </div>
                </div>


                <div class="card d-none" id="game-card">
                    <div class="card-header">
                        Tic-tac-toe
                    </div>
                    <div class="card-body mx-auto">
                        <table class="game-board">
                            <tr>
                                <td class="game-cell" id="cell-1-1"></td>
                                <td class="game-cell" id="cell-1-2"></td>
                                <td class="game-cell" id="cell-1-3"></td>
                            </tr>

                            <tr>
                                <td class="game-cell" id="cell-2-1"></td>
                                <td class="game-cell" id="cell-2-2"></td>
                                <td class="game-cell" id="cell-2-3"></td>
                            </tr>

                            <tr>
                                <td class="game-cell" id="cell-3-1"></td>
                                <td class="game-cell" id="cell-3-2"></td>
                                <td class="game-cell" id="cell-3-3"></td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="./jquery/jquery.min.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>